@import './parts/**/*.sass'
@import './common/_const.sass'

h1
h2
h3

b, strong

html
	font: 16px 'RobotoRegular'
	min-width: 320px
	width: 100%
	height: auto
	overflow-x: hidden

body
	position: relative
	min-width: 320px
	width: 100%
	min-height: 100vh
	height: auto
	display: flex
	flex-direction: column
	line-height: 1
	margin: 0 auto

.container
	width: 100%
	margin-left: auto
	margin-right: auto